<div class="footer">
    <div class="inner">
        <div class="manage">
            <!--<script type="text/javascript">
                var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
                document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F99c2c06a529fc4c8787deb597141fe76' type='text/javascript'%3E%3C/script%3E"));
            </script>-->
        </div>
        <div class="copyright">
        </div>
    </div>
</div>